.transactionlisting_box {
  margin: 1rem;
  background: #5eb872;
  border-radius: 10px;
}

.transactionimage_box {
  background: #ffffff;
  background-image: url("../../Assets/donut.png");
  background-size: contain;
  background-repeat: cover;
  margin: 1rem;
  padding: 0.5rem;
  width: 120px;
  height: 70px;
  min-width: 80px;
  min-height: 70px;
}

.transactionlisting_box p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0rem;
  margin-bottom: 0.5rem;
}
