.transactionlisting_box {
  margin: 1rem;
  background: #5eb872;
  border-radius: 10px;
}

.transactionimage_box {
  background: #ffffff;
  margin: 1rem;
  padding: 0.5rem;
  width: 100px;
  height: 100px;
  min-width: 80px;
  min-height: 85px;
}

.transactionlisting_box p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin: 0rem;
}
