<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="myscripts.js"></script>

  <title>LeftOverBackend</title>
</head>

<body>
  <h1>User Management system</h1>
  <p>All REST API endpoint can be found under routes/routes.js</p>
  <!-- <button>Get all users info</button>
    <button>Get all posts info</button> -->

  <!-- <form action="/uploadphoto" enctype="multipart/form-data" method="POST">
        <input type="file" name="myImage" accept="image/*">
        <input type="submit" value="Upload Photo">
    </form> -->
</body>

</html>