.listing_box {
  margin: 2rem;
  background: #d9d9d9;
  border-radius: 10px;
  cursor: pointer;
}

.image_box {
  background: #ffffff;
  margin: 1rem;
  padding: 1rem;
  min-width: 120px;
  min-height: 120px;
}

.listing_box p {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #000000;
  margin: 1rem;
}
