.profile_container {
  width: 100vw;
  height: 100vh;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    ellipse at 23% 9%,
    rgba(186, 197, 184, 1) 0%,
    rgba(173, 190, 170, 1) 48%,
    rgba(162, 187, 157, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    ellipse at 23% 9%,
    rgba(186, 197, 184, 1) 0%,
    rgba(173, 190, 170, 1) 48%,
    rgba(162, 187, 157, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    ellipse at 23% 9%,
    rgba(186, 197, 184, 1) 0%,
    rgba(173, 190, 170, 1) 48%,
    rgba(162, 187, 157, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    ellipse at 23% 9%,
    rgba(186, 197, 184, 1) 0%,
    rgba(173, 190, 170, 1) 48%,
    rgba(162, 187, 157, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(
    ellipse at 23% 9%,
    rgba(186, 197, 184, 1) 0%,
    rgba(173, 190, 170, 1) 48%,
    rgba(162, 187, 157, 1) 100%
  );
}

.profile_box {
  border: 1px solid black;
  margin: 5rem 10rem 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  min-width: 350px;
}

.profile_icons {
  border: 1px solid black;
  flex: 1;
  min-height: 26rem;
  height: 40rem;
  width: 160px;
  min-width: 120px;
  margin: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile_icons button {
  margin-top: 0rem;
  padding: 1rem;
  background-color: #d9d9d9;
  cursor: pointer;
  border: none;
  outline: none;
}

.profile_icons button:hover {
  background-color: white;
}

.profile_icons img {
  width: 75px;
  height: 75px;
}

.profile_info {
  border: 1px solid black;
  height: 50vh;
  width: 88%;
  min-width: 200px;
  margin: 1rem;
  min-height: 26rem;
  height: 40rem;
  margin: 1rem;
}

.profile_info h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  font-size: 42px;
  line-height: 50px;

  color: #000000;

  margin-left: 4rem;
}

/* Right side of Profile */
.profile_menu img {
  width: 150px;
  height: 150px;
  margin-left: 2rem;
}

.profile_menu_container {
  display: flex;
}

.profile_top_text {
  text-align: center;
  margin-left: 6rem;
  display: flex;
  flex-direction: row;
}

.profile_top_text h3 {
  margin-left: 24rem;
}

.profile_bottom_text {
  flex-wrap: wrap;
  margin-top: 6rem;
}