.individuallisting_box {
  margin: 2rem 28rem 28rem;
  background: #eee5d4;
  border-radius: 15px;
  height: 70%;
  display: flex;
  flex-direction: column;
}

.individualimage_box {
  background: #ffffff;
  margin: 2rem 8rem 8rem;
  margin-bottom: 3rem;
  padding: 3rem;
  height: 80vh;

  background: #ffffff;
  background-image: url("../../Assets/onion.jpg");
  background-size: contain;

  justify-content: center;
  align-items: center;
  text-align: center;
}

.individuallisting_box h1 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #000000;
}

.individuallisting_box p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #000000;
  margin-top: 10rem;
}
